{{#each categories}}
    {{#ifCond id 1}}
        <div id="{{title}}" class="tabcontent active">
    {{else}}
        <div id="{{title}}" class="tabcontent">
    {{/ifCond}}
        {{#each ../products}}
        {{#ifCond category ../id}}
            <div class="item col-xs-4 col-lg-4">
                <div class="thumbnail">
                    <img class="group list-group-image" src="/images/{{imagePath}}" alt="">
                    <div class="caption">
                        <h4 class="group inner list-group-item-heading">{{title}}</h4>
                        <p class="group inner list-group-item-text">{{description}}</p>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <p class="lead">{{price}}</p>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <a class="btn btn-success" href="#">Add to cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        {{/ifCond}}
        {{/each}}
        </div>
{{/each}}



