<body>

    <!--contain-->
    <div class="container">
        <h1 class="text-center">Zodiac Characteristics</h1>
    </div>
    <div class="container">
        <div class="row">
            {{#each list}}
                <div class="col-md-3">
                <div>
                    <a href="/task4-details.htm?id={{@index}}">
                        <img src="/images/{{this.imagePath}}" alt="{{this.name}}" class="img-circle img-thumbnail">
                        <h2 class="text-center">{{this.name}}<br />
                            <small>{{this.dates}}</small>
                            </br />
                        </h2>
                    </a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <!--/contain-->
    <!--footer-->
    <footer class="container-fluid text-center">
        Copyright &copy; 2020 by 18127118 - Mai Đăng Khánh
    </footer>
    <!--/footer-->
</body>

</html>